@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
    
body {
    display:flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#img-container {
    background-image: url(images/triangle-tunnel.jpg);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 100vh;
}

#logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    gap: 10px;
    height: 6rem;
    font-family: 'FuturaRennerRegular', monospace;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#logo {
    height: 4em;
}

h1 {
    font-size: 60px;
}

#form-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: lightgrey;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.field {
    display: flex;
    gap: 4rem;
}

label {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'space mono', monospace;
    font-weight: bold;
    font-size: 140%;;
}

#credit {
    color: white;
    width: 30%;
    bottom: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer>a {
    color: white;
}