
    
body {
    display:flex;
}

#img-container {
    background-image: url(images/triangle-tunnel.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;
}

#logo {
    display: flex;
    height: 4rem;
}

#form-container {
    flex-grow: 2;
    height: 100vh;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    gap: 4rem;
}

label {
    display: flex;
    flex-direction: column;
}